.env
.env.local
.env.production
node_modules/
dist/
.next/
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
*.pem
coverage/
.turbo/
*.tsbuildinfo
packages/shared/src/*.js
packages/shared/src/*.d.ts
packages/shared/src/*.js.map
